body{
  background:#f8f2ea;
  font-family:Poppins,sans-serif;
}
.plate{
  width:100vw;
  height:50vh;
  display:flex;
  flex: 1;
  margin-bottom: 20px;
}
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.products{
  display:flex;
  gap:20px;
}

.card{
  background:white;
  width: 15vw;
  border:15px;
  padding:15px;
  height: 30%;
}

.card img{
  width:90%;
  border-radius:10px;
  height: 30vh;
  display: flex;
  flex-direction: row;
}
.categories{
    display:flex;
    justify-content: space-around;
    flex:1;
}

.sunday{
 margin-left: 15vw;
 margin-right: 15vw;
 
}

.plate img{

}

.bread section{

}