body{
  background:#f8f2ea;
  font-family:Poppins,sans-serif;
}
.plate{
  width:100vw;
  height:50vh;
  display:flex;
  margin-bottom: 20px;
}
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.products{
  display:flex;
  width:100vw;
  height: 65vh;
  flex-direction:column;
}
.categories{
    display:flex;
    justify-content: space-around;
    flex:1;
}

#menu-text{
  display: flex;
  justify-content: center;
}
.bread-plate{
  margin-left: 48vw;
  width:50vw;
  height:35vh;
}
#left-text{
  margin:5px;
  display: flex;
}
.card1{
  display:flex;
  width: 60%;
  height: 20%;
  align-items: center;
  border-radius: 10vw;
  flex-direction: row;
}
.card2{
  display:flex;
  width: 60%;
  height: 20%;
  align-items: center;
  border-radius: 10vw;
  flex-direction: row;
}
.card3{
  display:flex;
  width: 60%;
  height: 20%;
  align-items: center;
  border-radius: 10vw;
  flex-direction: row;
}

